h1 {
	font-weight: 900;
	font-size: 3em;
	text-transform:uppercase;
	text-align: center;
}

h2 {
	font-weight: 900;
	font-size: 2.5em;
	text-transform:uppercase;
}

p.subtitle{
	font-family: "Crimson Text";
	font-style: italic;
	font-size: 1.5em;
}

p.subtitle-c{
	text-align: center;
}

div.display-caption{
	text-align: center;
}


p.display-caption{
	text-align: center;
	font-size: 2em;
}